body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container
{
  margin-top: 50px;
}

.divider
{
  width: 500px;
  height: 2px;
  background: black;
  margin: 0 auto;
  margin-bottom: 40px;
}

.text2 {
  border: 1px solid black;
  border-radius: 20px;
}